header {
    height: 84px;
    background-color: #007765;
    display: flex;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 55px;
    width: 100%;
    z-index: 10;
}

section {
    min-height: calc(120vh - 85px);
}

nav {
    text-align: right;
    white-space: nowrap;
}

nav a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    padding: 0 23px;
    border-left: 2px solid white;
}

nav a:first-child {
    border: none;
}

.heading {
    text-align: center;
    color: #007765;
    font-size: 64px;
}

.first-block {
    background-color: #EEEEEE;
}

.first-block_description, article {
    padding: 48px 0 92px 0;
}

.second-block_img-block {
    background-image: url("image/image-two.png");
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-block_text {
    text-align: center;
    color: #FFFFFF;
    font-size: 48px;
    max-width: 893px;
    font-style: italic;
}

article {
    margin: 0 auto;
    font-size: 32px;
    max-width: 1110px;
    line-height: 38px;
}

article p {
    margin: 20px 0;
}

.logo-introducing {
    float: left;
    padding-right: 48px;
}

.third-block {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 56px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.third-block_img-block {
    max-width: 1100px;
    display: flex;
    justify-content: center;
    gap: 82px 212px;
    flex-wrap: wrap;
}

figcaption {
    font-size: 24px;
    color: #007765;
    white-space: nowrap;
}

.third-block figure h3 {
    font-size: 18px;
    font-style: italic;
    line-height: 21px;
    color: #000000;
}

footer {
    background-color: #333333;
    padding: 50px 0 62px 0;

}

footer p {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
}

main {
    margin-top: 84px;
}

@media (max-width: 840px) {
    nav a {
        font-size: 20px;
        padding: 0 12px;
        white-space: nowrap;
    }

    header img {
        width: 120px;
    }

    header {
        padding: 0 10px;
    }

    .first-block_description, article {
        padding: 30px 55px;
    }

    article, .second-block_text {
        font-size: 25px;
    }

    .heading {
        font-size: 35px;
    }

    footer {
        padding: 30px 20px;
    }
}

@media (max-width: 550px) {
    header img {
        width: 70px;
    }

    nav a {
        font-size: 12px;
    }
}


